<%= form_with(model: notification, local: true, url: user_notifications_path) do |form| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control my-2'%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control my-2' %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_field :time%>
  </div>


  <div class="actions">
    <%= form.submit 'Create Notification', class: 'btn btn-success my-2' %>
  </div>
  <%= link_to 'Back', user_notifications_path %>
<% end %>
